MYSQL_ROOT_PASSWORD=change_this_strong_password
JWT_SECRET=change_this_super_secret_key_minimum_32_chars
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost
APP_NAME=Plateforme LR16CNSTN02
GEMINI_API_KEY=your-google-gemini-api-key
APP_PORT=80
