DATABASE_URL="postgresql://postgres:your-password@localhost:5433/lr16cnstn02_db?schema=lr16cnstn02"
PORT=4000
JWT_SECRET="change-this-super-secret-key"
JWT_EXPIRES_IN="8h"
FRONTEND_URL="http://localhost:5173"
APP_NAME="Plateforme LR16CNSTN02"
